.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    padding: 24px 32px;
    border: none;
    margin: 32px 0;
    cursor: pointer;
}
.boton.boton:hover{
    color: #95FFD4;
}